# Sequences: String, List, Tuple

**Indexing**

In [ ]:
# string

x = 'frog'
print(x[3])

g

In [2]:
# list

x = ["pig", "cow", "horse"]
print(x[1])

cow

In [3]:
# tuple

x = ("Kevin", "Niklas", "Jenny", "Craig")
print(x[0])

Kevin

**Slicing**

In [14]:
x = "computer"

print(x[1:4])
print(x[1:6:2])
print(x[0::2])
print(x[3:])
print(x[:5])
print(x[-1])
print(x[-3:])
print(x[:-2])

omp
opt
cmue
puter
compu
r
ter
comput

**adding & concatentaning**

In [16]:
# string

x = "horse" + "shoe"
print(x)

horseshoe

In [15]:
# list

y = ["pig", "cow"] + ["horse"]
print(y)

['pig', 'cow', 'horse']

In [ ]:
#tuple

z = ("Kevin", "Niklas", "Jenny") + ("Craig",) # Komma am Ende das es sonst als String gesehen wird und nicht als tuple und tuple + string geht nicht!
print(z)

('Kevin', 'Niklas', 'Jenny', 'Craig')

**multiplying**

In [19]:
# string

x = "bug" * 3
print(x)

bugbugbug

In [20]:
# list
y = [8, 5] * 3
print(y)

[8, 5, 8, 5, 8, 5]

In [21]:
# tuple
z = (2, 4) * 3
print(z)

(2, 4, 2, 4, 2, 4)

**checking membership**

In [ ]:
# string

x = "bug"
print("u" in x)

True

In [23]:
# list

y = ["pig", "cow", "horse"]
print("cow" not in y)

False

In [24]:
# tuple

z = ("Kevin", "Niklas", "Jenny", "Craig")
print("Niklas" in z)

True

**iterating**

In [25]:
# item

x = [7, 8, 3]
for item in x:
    print(item)

7
8
3

In [26]:
# index & item

y = [7, 8, 3]
for index, item in enumerate(y):
    print(index, item)

0 7
1 8
2 3

**number of items**

In [1]:
# string

x = "bug"
print(len(x))

3

In [2]:
# list

y = ["pig", "cow", "horse"]
print(len(y))

3

In [3]:
# tuple

z = ("Kevin", "Niklas", "Jenny", "Craig")
print(len(z))

4

**minimum**

In [4]:
# string

x = 'bug'
print(min(x))

b

In [5]:

# list

y = ['pig', 'cow', 'horse' ]
print(min(y))

cow

In [6]:

# tuple

z = ('Kevin', 'Niklas', 'Jenny', 'Craig' )
print(min(z))

Craig

**maximum**

In [7]:
# string

x = 'bug'
print(max(x))

u

In [8]:
# list

y = ['pig', 'cow', 'horse' ]
print(max(y))

pig

In [9]:
# tuple

z = ('Kevin', 'Niklas', 'Jenny' , 'Craig' )
print(max(z))

Niklas

**sum**

In [ ]:
# string -> error
x = [5, 7, 'bug' ]
print (sum(x))      # generates an error

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [11]:
# list

y = [2, 5, 8, 12]
print(sum(y))
print(sum(y[-2:]))

27
20

In [12]:
# tuple

z = (50, 4, 7, 19)
print(sum(z))

80

**sorting**

In [ ]:
# string

x = 'bug'
print(sorted(x))

['b', 'g', 'u']

In [14]:
# list

y = ['pig', 'cow', 'horse' ]
print(sorted(y))

['cow', 'horse', 'pig']

In [15]:
# tuple

z = ('Kevin' , 'Niklas', 'Jenny' , 'Craig' )
print(sorted(z))

['Craig', 'Jenny', 'Kevin', 'Niklas']

**sorting by second letter**

In [17]:
z = ("Kevin", "Niklas", "Jenny", "Craig")
print(sorted(z, key=lambda k: k[1:]))

['Jenny', 'Kevin', 'Niklas', 'Craig']

**count(item)**

In [ ]:
# string

x = 'hippo'
print(x.count('p'))

In [ ]:
# list

y = ['pig', 'cow', 'horse', 'cow' ]
print(y.count('cow'))

In [ ]:
# tuple

z = ('Kevin' , 'Niklas', 'Jenny' , 'Craig' )
print(z.count('Kevin'))

**index(item)**

In [18]:
# string

x = 'hippo'
print(x.index('p'))

2

In [19]:
# list

y = ['pig', 'cow', 'horse', 'cow' ]
print(y.index('cow'))

1

In [20]:
# tuple

z = ('Kevin', 'Niklas', 'Jenny' , 'Craig' )
print(z.index('Jenny'))

2

**unpacking**

In [21]:
x = ["pig", "cow", "horse"]
a, b, c = x
print(a, b, c)

pig cow horse