# Sequences: String, List, Tuple

### Indexing

In [ ]:
# string

x = 'frog'
print(x[3])

g

In [2]:
# list

x = ["pig", "cow", "horse"]
print(x[1])

cow

In [3]:
# tuple

x = ("Kevin", "Niklas", "Jenny", "Craig")
print(x[0])

Kevin

### Slicing

In [14]:
x = "computer"

print(x[1:4])
print(x[1:6:2])
print(x[0::2])
print(x[3:])
print(x[:5])
print(x[-1])
print(x[-3:])
print(x[:-2])

omp
opt
cmue
puter
compu
r
ter
comput

### adding & concatentaning

In [16]:
# string

x = "horse" + "shoe"
print(x)

horseshoe

In [15]:
# list

y = ["pig", "cow"] + ["horse"]
print(y)

['pig', 'cow', 'horse']

In [ ]:
#tuple

z = ("Kevin", "Niklas", "Jenny") + ("Craig",) # Komma am Ende das es sonst als String gesehen wird und nicht als tuple und tuple + string geht nicht!
print(z)

('Kevin', 'Niklas', 'Jenny', 'Craig')

### multiplying

In [19]:
# string

x = "bug" * 3
print(x)

bugbugbug

In [20]:
# list
y = [8, 5] * 3
print(y)

[8, 5, 8, 5, 8, 5]

In [21]:
# tuple
z = (2, 4) * 3
print(z)

(2, 4, 2, 4, 2, 4)

### checking membership

In [ ]:
# string

x = "bug"
print("u" in x)

True

In [23]:
# list

y = ["pig", "cow", "horse"]
print("cow" not in y)

False

In [24]:
# tuple

z = ("Kevin", "Niklas", "Jenny", "Craig")
print("Niklas" in z)

True

### iterating

In [25]:
# item

x = [7, 8, 3]
for item in x:
    print(item)

7
8
3

In [ ]:
# index & item

y = [7, 8, 3]
for index, item in enumerate(y):
    print(index, item)